@model List<Training_task.Models.Task>

@{
    ViewData["Title"] = "Tasks main page";
}

<div>
    <h2>tasks</h2>
    <hr />
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                TimeToComplete
            </th>
            <th>
                BeginDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach (Training_task.Models.Task task in Model)
        {
            <tr>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => task.Id)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => task.Name)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => task.TimeToComplete)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => task.BeginDate)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => task.EndDate)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => task.Status)
                </td>

                <td class="col-sm-10">
                    <partial name="_EditButtonPartial" , model="@task.Id" />
                </td>
                <td class="col-sm-10">
                    <partial name="_DeleteButtonPartial" , model="@task.Id" />
                </td>
            </tr>
        }
    </table>

    <partial name="_CreateButtonPartial" />
</div>
