@model ProjectAllVM
@*@model ProjectVMWithRelations*@

@{
    ViewData["Title"] = "Enter";
}

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEdit">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (@ViewBag.IsCreateNotEdit == "false")
            {
                <div class="form-group">
                    <label asp-for="@Model.Projects[0].Id" class="control-label"></label>
                    @*<input asp-for="@Model.Projects[0].Id" class="form-control" disabled="disabled" />*@
                    <input value="@Model.Projects[0].Id" class=" form-control" disabled="disabled"/>
                    <input type="hidden" asp-for="@Model.Projects[0].Id class=" form-control" />
                    <span asp-validation-for="@Model.Projects[0].Id" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="@Model.Projects[0].Name" class="control-label"></label>
                <input asp-for="@Model.Projects[0].Name" class="form-control" />
                <span asp-validation-for="@Model.Projects[0].Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Projects[0].ShortName" class="control-label"></label>
                <input asp-for="@Model.Projects[0].ShortName" class="form-control" />
                <span asp-validation-for="@Model.Projects[0].ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Projects[0].Description" class="control-label"></label>
                <input asp-for="@Model.Projects[0].Description" class="form-control" />
                <span asp-validation-for="@Model.Projects[0].Description" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" name="IsCreateNotEdit" value="@ViewBag.IsCreateNotEdit" />
            </div>
            <div class="form-group">
                <partial name="Buttons\_SaveButtonPartial" />
                <partial name="Buttons\_CancelButtonPartial" />
            </div>
        </form>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTasks[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTasks[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTasks[0].BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTasks[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTasks[0].EmployeeFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ProjectTasks[0].Status)
                </th>
                <th>
                    @Html.ActionLink("Create", "CreateOrEdit", "ProjectTask", new { @*projectId = @Model.Projects[0].Id*@}, new { @class = "btn btn-info" })
                </th>
            </tr>
            @if (@Model?.ProjectTasks != null)
            {
                @foreach (var ProjectTask in @Model.ProjectTasks)
                {
                    <tr>
                        <td>
                            @ProjectTask.Id
                        </td>
                        <td>
                            @ProjectTask.Name
                        </td>
                        <td>
                            @ProjectTask.BeginDate
                        </td>
                        <td>
                            @ProjectTask.EndDate
                        </td>
                        <td>
                            @ProjectTask.EmployeeFullName
                        </td>
                        <td>
                            @ProjectTask.Status
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "CreateOrEdit", "ProjectTask", new { id = @ProjectTask.Id }, new { @class = "btn btn-info" })
                        </td>
                        <td>
                            <form asp-controller="ProjectTask" asp-action="Delete" method="post">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                                <input type="hidden" value="@ProjectTask.Id" name="Id" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
