@model List<ProjectVm>

@{
    ViewData["Title"] = "Tasks main page";
}

<div>
    <h2>Projects</h2>
    <hr />
    @Html.ActionLink("Create", "Create", FormMethod.Get, new { @class = "btn btn-info" })
    <br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Description)
            </th>
        </tr>
        @foreach (ProjectVm project in Model)
        {
            <tr>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => project.Id)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => project.Name)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => project.ShortName)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => project.Description)
                </td>
                <td class="col-sm-10">
                    @Html.ActionLink("Edit", "Edit", new { id = project.Id }, new { @class = "btn btn-info" })
                </td>
                <td class="col-sm-10">
                    <form asp-action="Delete" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <input type="hidden" value="@project.Id" name="id" />
                    </form>
                </td>
            </tr>
        }

    </table>
</div>