@*@model List<ProjectViewModel>*@
@model List<ProjectViewModel>

@{
    ViewData["Title"] = "Tasks main page";
}

<div>
    <h2>Projects</h2>
    <hr />
    <partial name="Buttons\_CreateButtonPartial" />
    <br /><br />
          <table class="table">
              <tr>
                  <th>
                      @Html.DisplayNameFor(m => m[0].Id)
                  </th>
                  <th>
                      @Html.DisplayNameFor(m => m[0].Name)
                  </th>
                  <th>
                      @Html.DisplayNameFor(m => m[0].ShortName)
                  </th>
                  <th>
                      @Html.DisplayNameFor(m => m[0].Description)
                  </th>
              </tr>
              @foreach (ProjectViewModel Project in Model)
              {

                  <tr>
                      <td class="col-sm-10">
                          @Html.DisplayFor(q => Project.Id)
                      </td>
                      <td class="col-sm-10">
                          @Html.DisplayFor(q => Project.Name)
                      </td>
                      <td class="col-sm-10">
                          @Html.DisplayFor(q => Project.ShortName)
                      </td>
                      <td class="col-sm-10">
                          @Html.DisplayFor(q => Project.Description)
                      </td>
                      <td class="col-sm-10">
                          <partial name="Buttons\_EditButtonPartial" , model="@Project.Id" />
                      </td>
                      <td class="col-sm-10">
                          <partial name="Buttons\_DeleteButtonPartial" , model="@Project.Id" />
                      </td>
                  </tr>
              }

          </table>
</div>