@model ProjectTaskVm
<tr>
    <td>
        @Model.Id
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.BeginDate
    </td>
    <td>
        @Model.EndDate
    </td>
    <td>
        @Model.EmployeeFullName
    </td>
    <td>
        @Model.Status
    </td>
    <td>
        @Html.ActionLink("Edit", "CreateOrEdit", "ProjectTask", new { id = Model.Id }, new { @class = "btn btn-info" })
    </td>
    <td>
        <form asp-controller="ProjectTask" asp-action="Delete" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <input type="hidden" value="@Model.Id" name="Id" />
        </form>
    </td>
</tr>
