@model List<EmployeeViewModel>

@{
    ViewData["Title"] = "Employees main page";
}

<div>
    <h2>Employees</h2>
    <hr />
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Lastname
            </th>
            <th>
                Firstname
            </th>
            <th>
                Patronymic 
            </th>
            <th>
                Position
            </th>
        </tr>
        @foreach (EmployeeViewModel employee in Model)
        {
            <tr>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.Id)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.LastName)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.FirstName)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.Patronymic )
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.Position)
                </td>
                <td class="col-sm-10">
                    <partial name="_EditButtonPartial" , model="@employee.Id" />
                </td>
                <td class="col-sm-10">
                    <partial name="_DeleteButtonPartial" , model="@employee.Id" />
                </td>
            </tr>
        }
    </table>
    
    <partial name="_CreateButtonPartial" />
</div>
