@model List<EmployeeVm>

@{
    ViewData["Title"] = "Employees main page";
}

<div>
    <h2>Employees</h2>
    <hr />
    @Html.ActionLink("Create", "Create", FormMethod.Get, new { @class = "btn btn-info" })
    <br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Patronymic)

            </th>
            <th>
                @Html.DisplayNameFor(m => m.FirstOrDefault().Position)
            </th>
        </tr>
        @foreach (EmployeeVm employee in Model)
        {
            <tr>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.Id)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.LastName)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.FirstName)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.Patronymic)
                </td>
                <td class="col-sm-10">
                    @Html.DisplayFor(q => employee.Position)
                </td>
                <td class="col-sm-10">
                    @Html.ActionLink("Edit", "Edit", new { id = @employee.Id }, new { @class = "btn btn-info" })
                </td>
                <td class="col-sm-10">
                    <form asp-action="Delete" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <input type="hidden" value="@employee.Id" name="id" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
